## For Loop
Syntax:

```python
for item in sequence:
    do sth.
```

In [1]:
a=[1,2,3,4,5]

In [5]:
sums = 0
for item in a:
   sums +=item

In [6]:
sums

15

In [7]:
product = 1
for item in a:
    product*=a

TypeError: can't multiply sequence by non-int of type 'list'

In [8]:
type(a)

list

In [9]:
type(a[1])

int

In [10]:
product =1
for item in a:
    product=product *item

In [11]:
product

120

## Range Method

In [12]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [13]:
for num in range(5,11):
    print(num)

5
6
7
8
9
10

In [14]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [15]:
sums=0
for num in range(0,11):
    sums+=item

In [16]:
sums

55

## Stopping Loops

In [17]:
for num in range(10):
    if num==5:
        print("Let's stop here")
        break
    else:
        print(num)
        continue

0
1
2
3
4
Let's stop here