## Handling Duplicates

In [1]:
import pandas as pd

In [19]:
# create a sample dataset with duplicate values

data = {'A':['foo','bar','foo','baz','qux','bar','foo'], 'B':[1,2,3,4,5,6,7],'C':[10,20,30,40,50,60,70]}
df = pd.DataFrame(data)

#Print the original dataframe
print('Original dataframe')
print(df)

Original dataframe
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [26]:
# Drop duplicate
df.drop_duplicates(subset=['A'], inplace = True)
print('\n Dataframe after dropping duplicates:')
print(df)

 Dataframe after dropping duplicates:
     A  B   C  duplicate
0  foo  1  10      False
1  bar  2  20      False
3  baz  4  40      False
4  qux  5  50      False

In [27]:
data = {'A':['foo','bar','foo','baz','qux','bar','foo'], 'B':[1,2,3,4,5,6,7],'C':[10,20,30,40,50,60,70]}
df = pd.DataFrame(data)

#Print the original dataframe
print('Original dataframe')
print(df)

Original dataframe
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [29]:
#Aggregate duplicates
agg_df = df.groupby(['A']).mean()
print('\n Dataframe after aggregation duplicates:')
print(agg_df)

 Dataframe after aggregation duplicates:
            B          C
A
bar  4.000000  40.000000
baz  4.000000  40.000000
foo  3.666667  36.666667
qux  5.000000  50.000000

In [30]:
data = {'A':['foo','bar','foo','baz','qux','bar','foo'], 'B':[1,2,3,4,5,6,7],'C':[10,20,30,40,50,60,70]}
df = pd.DataFrame(data)

#Print the original dataframe
print('Original dataframe')
print(df)

Original dataframe
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [31]:
# Keep the first occurence
first_df = df.drop_duplicates(subset = ['A'], keep = 'first')
print('\nDataframe after keeping the first occurence:')
print(first_df)

Dataframe after keeping the first occurence:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [32]:
# Keep the last occurence
last_df = df.drop_duplicates(subset = ['A'], keep = 'last')
print('\nDataframe after keeping the last occurence:')
print(first_df)

Dataframe after keeping the last occurence:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [33]:
data = {'A':['foo','bar','foo','baz','qux','bar','foo'], 'B':[1,2,3,4,5,6,7],'C':[10,20,30,40,50,60,70]}
df = pd.DataFrame(data)

#Print the original dataframe
print('Original dataframe')
print(df)

Original dataframe
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [35]:
# Mark duplicates
df['duplicate'] = df.duplicated(subset=['A'])
print('\nDataframe after marking duplicates:')
print(df)

Dataframe after marking duplicates:
     A  B   C  duplicate
0  foo  1  10      False
1  bar  2  20      False
2  foo  3  30       True
3  baz  4  40      False
4  qux  5  50      False
5  bar  6  60       True
6  foo  7  70       True